.question {
    border-radius: 20px;
    background-color: antiquewhite;
    height: 300px;
    margin: 30px 0px;
    padding: 20px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.question h2 {
    margin-left: 100px;
}